version: '3.8'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.6.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false

    command: >
      bash -c "
        if [ ! -d '/usr/share/elasticsearch/plugins/analysis-nori' ]; then
          elasticsearch-plugin install --batch analysis-nori;
        fi &&
        /usr/local/bin/docker-entrypoint.sh eswrapper
      "

    ports:
      - "9200:9200"
      - "9300:9300"

    extra_hosts:
      - "elasticsearch:127.0.0.1"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - es_network

  kibana:
    image: docker.elastic.co/kibana/kibana:8.6.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - es_network

networks:
  es_network:
    driver: bridge

volumes:
  esdata:
    driver: local